body{
    color: white;
}

/* CSS POUR LA BOUTIQUE */
.mainDiv{
    width: 100%;
    height: 100%;
    background-position: 30% 30%;
}

.mainDiv h1{
    margin: 1% 2%;
    text-decoration: underline;
}

.allGame{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-auto-rows: 25vh;
    column-gap: 3vw;
    row-gap: 10vh ;
    
}

.Game{
    width: 100%;
    height: 100%;
    border: 3px solid #0b5991;
    border-bottom-left-radius: 10px ;
    position: relative;
    transition: all 0.15s ease-in-out;
}

.Game:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.Game:hover h6{
    border: 2px solid whitesmoke;;
}

.Game:hover p{
    border: 2px solid whitesmoke;;
}

.Game img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 10px ;
}

.img_jeu_blur{
    z-index: -10;
    position: absolute;
    filter: blur(10px) brightness(0.5);
    top: 0;
    left: 0;
    transform: scale(1.1);
}
.Game h4{
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding-top: 20%;
    padding-bottom: 2%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, transparent);
    font-size: 1.5em;
    border-bottom-left-radius: 10px ;
}

.Game h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    position: absolute;
    left: -4%;
    top: -3%;
    z-index: 1;
    padding: 1% 4%;
    text-shadow: 1.5px 1.5px 1.5px black;
    font-size: 0.9em;
}

.Game h5::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: brown;
    border: 1px solid whitesmoke;
    border-right:none ;
    border-bottom: none;
    padding: 2%;
    border-bottom-right-radius: 10px;   
    width: 70%;
    height: 100%;
    z-index: -1;
}
.Game h5::before{
    content: "";
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: brown;
    border: 1px solid whitesmoke;
    padding: 2%;
    border-radius: 5px;
    border-bottom-right-radius: 10px;   
    width: 85.5%;
    height: 100%;
    z-index: -1;
    transform: skewX(-30deg);    
}

.Game h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    position: absolute;
    right: calc(0% - 3px);
    padding: 2%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0b5991;
    top: -5%;
    height: 9%;
    z-index: 1;
    text-shadow: 1.5px 1.5px 1.5px black;
    text-decoration: underline;
    transition: all 0.15s ease-in-out;
}

.Game p{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 5px;
    margin: 0;
    right: calc(0% - 3px);
    bottom: -10%;
    height: 10%;
    border-radius: 5px;
    padding: 0 2%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0b5991;
    text-shadow: 1.5px 1.5px 1.5px black;
    transition: all 0.15s ease-in-out;
}

.Game p img{
    height: 70%;
    border-bottom-left-radius: 0;
}
.filtre_button{
    font-family: "VT323", monospace;
    background-color: transparent;
    height: 100%;
    border: 2px solid white;
    padding: 2% 3% 2% 3%;
    color: red;
    border-radius: 2px;
    font-size: 0.8em;
}

.filtre_button:focus{
    outline: none;
    border: 2px solid white;
}

.filtre{
    color: grey;
    font-size: 0.7em;
    margin-left: 0.5vw;
    text-wrap: nowrap;
    text-shadow: 1px 1px 1px black;
}

.filtre:hover{
    cursor: pointer;
    font-size: 0.75em;
    text-decoration: underline;
}
