body{
    color: white;
}

.mainDiv{

}

.mainDiv h1{
    margin-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 4em;
    text-decoration: underline;
    border-bottom: 1px solid gray;
}

.mainDiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.mainDiv span{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.type_search{
    font-family: "VT323", monospace;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #0b5991;
    box-shadow: -5px 5px 30px #0b5991;
    font-size: 2em;
    padding-left: 1%;
    height: 4vw;
    width: 45vw;
    border-radius: 10px;
    color: white;
}

.type_search:focus{
    outline: none;
    border: 2px solid whitesmoke;
    box-shadow: -5px 5px 30px whitesmoke;
}

.mainDiv form span span{
    color: grey;
    margin: 0;
    font-size: 0.9em;
    text-wrap: nowrap;
    font-style: italic;
    text-decoration: underline;
}
.mainDiv form span select{
    font-family: "VT323", monospace;
    background-color: transparent;
    height: 100%;
    border: 2px solid white;
    padding: 0.5%;
    color: red;
    border-radius: 2px;
    font-size: 0.6em;
}

.mainDiv form span select:focus{
    outline: none;
    border: 2px solid white;
}

.search{
    font-family: "VT323", monospace;
    font-size: 2.3em;
    width: 15vw;
    height: 7vh;
    background-color: transparent;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

.search:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    color: black;
    border: 2px solid black;
    letter-spacing: 3px;
    width: 18vw;
}

/*GAME*/
.allGame{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-auto-rows: 25vh;
    column-gap: 3vw;
    row-gap: 10vh ;
    margin-top: 3vh;
}

.Game{
    width: 100%;
    height: 100%;
    border: 3px solid #0b5991;
    border-bottom-left-radius: 10px ;
    position: relative;
    transition: all 0.15s ease-in-out;
    box-shadow: 5px 5px 30px #0b5991; /* Ombre subtile */
}

.Game:hover{
    transform: scale(1.05);
    cursor: pointer;
    z-index: 10;
    box-shadow: 5px 5px 30px whitesmoke; /* Ombre subtile */
    border: 3px solid whitesmoke;
}

.Game:hover h6{
    border: 2px solid whitesmoke;
}

.Game:hover p{
    border: 2px solid whitesmoke;
}

.Game img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 10px ;
}

.img_jeu_blur{
    z-index: -10;
    position: absolute;
    filter: blur(10px) brightness(0.5);
    top: 0;
    left: 0;
    transform: scale(1.1);
}

.Game h4{
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding-top: 20%;
    padding-bottom: 2%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, transparent);
    font-size: 1.5em;
    border-bottom-left-radius: 10px ;
}

.Game h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    position: absolute;
    left: -4%;
    top: -3%;
    z-index: 1;
    padding: 1% 4%;
    text-shadow: 1.5px 1.5px 1.5px black;
    font-size: 0.9em;
}

.Game h5::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: brown;
    border: 1px solid whitesmoke;
    border-right:none ;
    border-bottom: none;
    padding: 2%;
    border-bottom-right-radius: 10px;   
    width: 70%;
    height: 100%;
    z-index: -1;
}
.Game h5::before{
    content: "";
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: brown;
    border: 1px solid whitesmoke;
    padding: 2%;
    border-radius: 5px;
    border-bottom-right-radius: 10px;   
    width: 85.5%;
    height: 100%;
    z-index: -1;
    transform: skewX(-30deg);    
}

.Game h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    position: absolute;
    right: calc(0% - 3px);
    padding: 2%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0b5991;
    top: -5%;
    height: 9%;
    z-index: 1;
    text-shadow: 1.5px 1.5px 1.5px black;
    text-decoration: underline;
    transition: all 0.15s ease-in-out;
}

.Game p{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 5px;
    margin: 0;
    right: calc(0% - 3px);
    bottom: -10%;
    height: 10%;
    border-radius: 5px;
    padding: 0 2%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0b5991;
    text-shadow: 1.5px 1.5px 1.5px black;
    transition: all 0.15s ease-in-out;
}

.Game p img{
    height: 70%;
    border-bottom-left-radius: 0;
}

.filtre{
    color: grey;
    font-size: 0.7em;
    text-align: center;
    margin: 1vh auto;
    width: fit-content;
    text-wrap: nowrap;
    text-shadow: 1px 1px 1px black;
}

.filtre:hover{
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: underline;
}