<!doctype html>
<html>
<title>Nuage</title>
</html>

<head>
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/page/accueil.css">
    <!--On récupère une font sur Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=VT323&display=swap" rel="stylesheet">
</head>
<!--DIV NAV-->
<div class="nav">
    <div class="nav_info">
        <img class="nav_avatar" src={{avatar}}>
        <div>
            <p class="user">UTILISATEUR : {{user}}</p>
            <p class="currency"><u>Solde :</u> {{solde}} €</p>
        </div>
    </div>
    <header class="text-overlay-neon">
        <h1>NUAGE</h1>
    </header>
    <nav>
    <form action="boutique">
        <input type=submit value="Boutique">
    </form>
    <form action="recherche">
        <input type=submit value="Recherche">
    </form>
    <form action="profil">
        <input type=submit value="Profil">
    </form>
    </nav>
    <form method="post" action="/disconnect">
        <input class="disconnect" type=submit value="← Se déconnecter">
    </form>
</div>
<!--Main DIV-->
<div class="mainDiv">
    <h1>Nuage</h1>
    <div class="cadre">
        <p style="color:darkred;" >Projet de S3 Licence Informatique</p>
        <p>Université Gustave Eiffel</p>
        <h5>LIV David / SAMASSEKOU Abdelkader</h5>
    </div>
</div>