<!doctype html>
<html>
<title>Nuage</title>
</html>

<head>
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/page/boutique.css">
    <!--On récupère une font sur Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=VT323&display=swap" rel="stylesheet">
</head>

<div style="background-color: rgba(173, 216, 230, 0.15);">
    <span class="user">UTILISATEUR : {{user}}</span>
    <span class="currency"><u>Solde :</u> {{solde}} €</span>
    <header class="text-overlay-neon">
        <h1>NUAGE</h1>
    </header>
    <nav>
    <span class='current'>Boutique</span>
    <form action="recherche">
        <input type=submit value="Recherche">
    </form>
    <form action="profil">
        <input type=submit value="Profil">
    </form>
    </nav>
    <form method="post" action="disconnect">
        <input class="disconnect" type=submit value="← Se déconnecter">
    </form>
</div>

<div class='mainDiv'>
    <h1 style="display:inline-block;">Liste des jeux : </h1>
    <form style="display:inline-block;" methods="get" action="add_filtre">
        <select class="filtre_button" name="type" onchange="submit()">
            <option value="default">{{default}}
            {% for elem in lst_type %}
            <option type=submit value={{elem}}>{{elem}}
            {% endfor %}
        </select>
    </form>
    {% if filtre%}
    <form style="display:inline-block;" methods="post" action="supp_filtre" onclick="submit()">
    <span class="filtre" type=submit> • Supprimer le filtre</span>
    </form>
    {%endif%}
    <div class='allGame'>
        {% for elem in lst_jeu %}
        <form class='Game', methods="get" action="game_click/{{elem.titre.replace('/', '%2F')}}" onclick="submit()">
            <img src={{elem.url_img}}>
            <img class="img_jeu_blur" src={{elem.url_img}}>
            <h4>{{elem.titre}}</h4>
            {% if elem.prix == 0.0 %}
                <h5>Gratuit</h5>
            {% else%}
            <h5>{{elem.prix}} €</h5>
            {% endif %}
            <h6>{{elem.date_sortie}}</h6>
            {% if elem.moyenne == None %}
                <p>Aucune note</p>
            {% else%}
                <p>{{elem.moyenne}}<img class='star' src='../static/img/star.png'></p>
            {% endif %}
        </form>
        {% endfor%}
    </div>
</div>